{% extends "base.html" %} {% block title %}Todo-List{% endblock %} {% block head
%}
<style></style>
{% endblock %} {% block content %}
<h1>Todo-List of {{name}}</h1>
<div hx-get="/todos" hx-trigger="load" hx-swap="innerHTML">[No Todos!]</div>
<form id="myForm" hx-post="/todos" hx-target="#todos" hx-swap="beforeend">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required/>

    <label for="pizza_type">Pizza Type:</label>
    <select id="pizza_type" name="pizza_type" required>
        <option value="vegan">Vegan</option>
        <option value="meaty">Meaty</option>
        <option value="vegi">Vegiterian</option>
    </select>

    <button type="submit">Submit</button>
</form>
{% endblock %}
